__pycache__/
*.py[cod]
.venv/
venv/
*.db
.pytest_cache/
.mypy_cache/

node_modules/
frontend/dist/

data/raw/*
data/processed/*
data/labels/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/labels/.gitkeep

models/fracture_model/*
models/facies_model/*
!models/fracture_model/.gitkeep
!models/facies_model/.gitkeep
